<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Zahlenraten</ion-title>
  </ion-toolbar>
</ion-header>


<div class="beispielCssKlasse">
<ion-item-group>
  <ion-item-divider>
    <ion-label>EINGABE</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>Die Zufallszahl liegt zwischen {{zufallszahlVon}} und {{zufallszahlBis}}!</ion-label>
  </ion-item>
  <ion-item>
    Deine Zahl: <ion-input type="number" [(ngModel)]="deineZahl" placeholder="...deine Zahl"></ion-input>
</ion-item>  
<ion-item>
      <ion-button (click)="startTry($event)" expand="block" color="success">START Versuch</ion-button>
 </ion-item>
</ion-item-group>
<ion-item-group>
  <ion-item-divider>
    <ion-label></ion-label>
  </ion-item-divider>
</ion-item-group>

<ion-item-group>
  <ion-item-divider>
    <ion-label>AUSGABE</ion-label>
  </ion-item-divider>

  <ion-item>

    <ion-label>  Dies ist dein {{anzahlVersuche}}. Versuch</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>  ERGEBNIS: {{ergebnis}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-button (click)="neuesSpiel()" color="danger">Neues Spiel (Reload)</ion-button>
  </ion-item>
</ion-item-group>

<table id="users">
  <thead>
  <tr>
    <th *ngFor = "let column of tblHeaders">
      {{column}}
    </th>
  </tr>
</thead>

<tbody>
  <tr *ngFor = "let row of arrDeineZahlen ; index as i; ; first as isFirst">
    <td >
      {{row.anzahlVersuche}}
    </td>
    <td >
      {{row.deinTip}}
    </td>
  </tr>
</tbody>

  <!-- KURZFORM ALTERNTIVE bei vielen Spalten-->
    <!--  <tr *ngFor = "let row of arrDeineZahlen">
    <td *ngFor = "let column of tblHeaders">
      {{row[column]}}
    </td>
  </tr> -->

</table>

</div>

